<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    
    <div >
        <form action={{path}} method="POST" enctype="multipart/form-data">

    <div class="form-group col-md-6">
      <label for="img">Upload</label>
      <input type="file" class="form-control" name="img" id="img">
    </div>

  <button type="submit" class="btn btn-primary ">Update</button>

</form>
    </div>
</main>
