
<main role="main">

    <div class="album py-2 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-md-3 project-bord">
                    
                    <div class="mb-4 ">
                        {{!-- ill add img --}}
                        <img src="/images/Nagarjuna.jpg" height="150px" width="150px" alt="">
                    </div>

                    <hr>
            
                    <div>
                        {{!-- ill add social profiles --}}
                        <h5>Social Profiles</h5>
                        <ul class="social">
                            <li><a>
                            <i class="fab fa-twitter"></i>
                            </a></li>
                            <li><a>
                            <i class="fab fa-github"></i>
                            </a></li>
                            <li><a>
                            <i class="fab fa-linkedin"></i>
                            </a></li>
                            <li><a>
                            <i class="fab fa-facebook"></i>
                            </a></li>
                         </ul>
                    </div>

                    <hr>
                  
                    <div>
                        {{!-- About this project --}}
                    </div>

                    <hr>

                    <div>
                        {{!-- resources --}}
                    </div>

                </div>

                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            
                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                    <h1>Contact Me</h1>

<p id="respDisp"></p>

<form  id="formContact"> 
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" >
</div>


<div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name ="email" >
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>


<div class="form-group">
    <label for="phone">Mobile</label>
    <input type="text" class="form-control" id="phone" name="phone">
</div>


<div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
</div>


<button type="submit" class="btn btn-primary form-control">Submit</button>
</form>

                </div>
            </div>
        </div>
    </div>
</main>
<script src="js/javaScript.js"></script>
{{!-- <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script> --}}
