

<div class="wallpaper"></div>
<div class="content">
    <aside class="side">
        <figure class="picture">
            <div class="picture-shadow"></div>
                <img id="pictureImage" class="picture-image"
                    src="images/Nagarjuna.jpg"
                    srcset="images/Nagarjuna.jpg 1x,
                    images/Nagarjuna.jpg 2x,
                    images/Nagarjuna.jpgzzzzzzzzzzzzzzaaaaaaaaawwwz 3x"
                    alt="Portrait of Alex Jefferson"
                    width="320"
                    height="320">
        </figure>
    </aside>
<main class="about">
<h1 class="name">
Hi, I'm Nagarjuna MN
</h1>
<p class="job">
Software Engineer
</p>
<hr class="hr">
<div class="description">
<p>
Love to explore the world and want to write blogs about the areas i visited ,and wanna be entrepreneur
</p>
</div>
<div class="contact">
<a class="button" href="/project">
Explore
</a>
</div>
</main>
</div<a href="/contact">Contact Page</a>

